/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-static-block {
    video {
        max-width: 100%;
    }

    .meetup-block-image {
        position: relative;

        .video-button {
            position: absolute;
            bottom: 60px;
            right: 10px;
        }
    }
}